* {
  margin: 0;
  padding: 0;
  border: solid 1px red;
  font-family: "Roboto", sans-serif;
}

.nav{
    background-color:lightgray;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-height: 50px;
}

.nav ul {
  gap: 1.5em;
}

.nav-title {
  color: red;
  font-size: 5em;
}
.nav-links {
  display: inline-flex;
  width: 20%;
  justify-content: space-around;
  margin-right: 10px;
  list-style: none;
}

.nav-links li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.btn {
  background-color: blue;
  color: white;
  box-shadow: black 3px 3px;
  font-size: 20px;
}
.nav img{
    text-align: center;
    border-radius: 20px;
}

.btn{
    background-color:blue;
    color: white;
    box-shadow: black 3px 3px;
    font-size: 20px;
}

.Main{
    background-color:floralwhite;
}
.PlayerCardRow1 h1{
    text-align: center;
    min-height: 300px;
    
}


.twitch img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
    min-width: 300px;
}
